<!DOCTYPE HTML>
<html>
<head>
   <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Xác thực Email</title>
</head>
<body>
    <h1>Xin chào <strong>{{username}}</strong>.</h1>
    <form method="POST" action="{{link}}">
    <p>
        Xác thực Email của bạn bằng cách nhấn vào nút <input type="submit" value="Xác thực Email">
    </p>
    <br>
    <p>
        Xin cảm ơn.
    </p>
    </form>
</body>
</html>
